# based on https://github.com/davidtsadler/ebay-sdk-examples/blob/master/configuration.php.example
sandbox:
    credentials:
        appID: xx
        devID: xx
        certID: xx
    authToken: xx
    oauthUserToken: xx
    ruName: xx
production:
    credentials:
        appID: ss
        devID: ss
        certID: ss
    authToken: xx
    oauthUserToken: xx
    ruName: xx


