# based on https://github.com/davidtsadler/ebay-sdk-examples/blob/master/configuration.php.example
sandbox:
    credentials:
        appId: xx
        devId: xx
        certId: xx
    authToken: xx
    oauthUserToken: xx
    ruName: xx
production:
    credentials:
        appId: ss
        devId: ss
        certId: ss
    authToken: xx
    oauthUserToken: xx
    ruName: xx


